<template>
  <div class="home">
    <img alt="Vue logo" src="../assets/logo.png">
    <!-- <HelloWorld msg="Welcome to Your Vue.js App"/> -->
    <div>
    {{contacts}}
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import HelloWorld from '@/components/HelloWorld.vue'
import firebase from 'firebase'

export default {
  name: 'home',
  components: {
    HelloWorld
  },
  data () {
    return {
      contacts: {},
    }
  },
  mounted () {
    var database = firebase.database()
    var contactRef = database.ref('/contacts')
    contactRef.on('value', (snapshot) => {
      this.contacts = snapshot.val()
      console.log('From database',snapshot.val())
    })
  }
}
</script>
