<template>
  <div class="card">
    <div id="body">
      <h1>Vaccine Details:</h1>
      <div class="button">
        <button>Show</button>

        <button>Edit</button>
      </div>
      <div id="vacid">
        <h3>
          Transportation number :
          <input type="text" />
        </h3>
      </div>
      <div id="vacsend">
        <h3>
          Sender :
          <input type="text" />
        </h3>
      </div>
      <div id="vacrecieve">
        <h3>
          Receiver :
          <input type="text" />
        </h3>
      </div>
      <div id="vacnotes">
        <h3>
          Notes :
          <input type="text" />
        </h3>
      </div>
      <div id="button">
        <button>Submit</button>
      </div>
    </div>
  </div>
</template>

<style>
#header {
  text-align: center;
}
#body {
  text-align: center;
  /* margin-left: 20px; */
}
</style>